{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Hi Everyone, My name is Farhan Begg and I've created this website so people can post their thoughts, Ideas anything that comes to mind.
        I want to say a special thank you for everyone trying out Your Blog.

        Duis ornare augue ex, eget dictum tellus porta at. Aenean bibendum diam vel nisi tristique, quis vestibulum purus rutrum. Vivamus rutrum,
         leo in tempor porta, enim mauris finibus dui, blandit semper metus ante sed tortor. Praesent lobortis ipsum at velit tincidunt, non convallis 
         leo posuere. Vestibulum malesuada, erat sed eleifend vestibulum, leo orci venenatis est, in maximus orci turpis id est. Vivamus eleifend vulputate condimentum. Nam rhoncus, sapien pretium dictum consectetur, lacus est lobortis neque, et pellentesque eros tellus et diam. Cras sapien ex, rhoncus vel nisi non, auctor mollis mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse in eleifend purus, ac rutrum lectus.
    </p>
{% endblock content %}